# benchmarking
# duckdb==0.10.3
# polars==0.20.30
# datafusion==38.0.1
# ibis-framework[duckdb,polars]==9.0.0 # TODO: add datafusion
# 
# # not relevant to benchmarking
# gcsfs # cloud storage
# psutil # usage data
# tqdm # progress bar
# ruff # code format
# python-dotenv # env vars
